<launch>
    <node pkg="udp_bridge" type="udp_bridge_node" name="sender_bridge" ns="sender">
      <rosparam>
      port: 4200
      maxPacketSize: 25
      remotes:
        receiver:
          host: localhost
          port: 4201
          topics:
            - source: sender_topic
              destination: receiver_topic
      </rosparam>
    </node>
    <node pkg="udp_bridge" type="udp_bridge_node" name="receiver_bridge" ns="receiver">
      <param name="port" value="4201"/>
    </node>
</launch>

